.con {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-color: #17171766;
  backdrop-filter: blur(1px);
  display: flex;
  align-items: center;
  justify-content: center;
}